[DEVICE]
Name=MSP432P401R
Clock=48000000
[BUILD_TYPE]
Value=0
[FILES]
Count=4
File0=Click_Spectral_MSP.mpas
File1=Click_Spectral_config.mpas
File2=Click_Spectral_types.mpas
File3=Click_Spectral_timer.mpas
[HEADERS]
Count=0
[PLDS]
Count=1
File0=Click_Spectral.pld
[Useses]
File0=Spectral_MSP_M4
File1=UART
File2=String
File3=clicker_2_MSP432
File4=Conversions
Count=5