[DEVICE]
Name=MSP432P401R
Clock=48000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_Spectral_MSP.c
[HEADERS]
Count=3
File0=Click_Spectral_timer.h
File1=Click_Spectral_config.h
File2=Click_Spectral_types.h
[PLDS]
Count=1
File0=Click_Spectral.pld
[Useses]
File0=Spectral_MSP_M4
File1=UART
File2=C_String
File3=clicker_2_MSP432
Count=4